{% extends 'template_ref.html' %}
{% load static %}

{% block body %}
<header class="bg-cookie">
  <div class="row text-white bg-black-tran text-center justify-content-center" id="div-emaildone">
      <div class="ml6 text-secondary " id="anim-it">
          <span class="text-wrapper">
              <span class="fs-5 letters">Email envoyé</span>
          </span>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
      <div class="mt-5 py-3 text-center text-light">
        <strong>
          Nous vous avons envoyé par e-mail des instructions pour redéfinir votre mot de passe.</br>
        </br>
          Vous devriez recevoir l'e-mail sous peu !
        </strong>
      </div>
  </div>
</header>
{% endblock %}
