
{% extends "template_ref.html" %}
{% load static %}
{% block body %}
<section class="section overlay p-0" style="height:calc(100vh - 58px);margin-top:58px;background-size:cover" data-background="{% static 'images/backgrounds/success-story.jpg' %}">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-lg-6 text-center p-5 bg-primary" style="border-radius: 5px;">
        <h3 style="font-family: futura" class="section-title text-center text-white">Email envoyé !</h3>
        <h4 class="text-white">Vous allez recevoir les instructions pour redéfinir votre mot de passe.</h4>
        <p class="text-white">Pensez à vérifier vos spams !</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}