{% extends 'template_ref.html' %}
{% load static %}
{% block body %}
<header class="bg-cookie">
    <div class="row text-white bg-black-tran text-center justify-content-center" id="div-pwcomplete">
        <div class="ml6 text-secondary " id="anim-it">
            <span class="text-wrapper">
                <span class="fs-5 letters">Votre mot de passe a été mis à jour</span>
            </span>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        <div class="mt-5 py-3 text-center text-light">
            <strong>
                Vous pouvez d'ores et déjà vous connecter.</br>
            </strong>
            <a class="col-lg-5 btn-lg btn mt-3 text-light bg-trans fs-3" href="/signin">
                <img src="{% static '' %}assets/img/logo/signin.png" class="navbar-logo">
            </a>
        </div>
    </div>
</header>
{% endblock %}
