{% extends "template_ref.html" %}
{% load static %}
{% block body %}
<section class="section overlay p-0" style="height:calc(100vh - 58px);margin-top:58px;background-size:cover" data-background="{% static 'images/backgrounds/success-story.jpg' %}">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-lg-6 text-center p-5 bg-primary" style="border-radius: 5px;">
        <h4>Votre mot de passe a été mis à jour</h4>
        <p>Vous pouvez d'ores et déjà vous connecter.</p>
        <a class="btn btn-primary-outline" href="#" data-toggle="modal" data-target="#loginModal">Se connecter</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
