{% extends "template_ref.html" %}
{% load static %}
{% block body %}
{% if request.user.is_staff %}
<header class="top-manage" id="pagetop">    
    <section class="container-fluid mt-1 row dashboard justify-content-center slidefromleft" id="dash-manage">
        <div class="row pt-2 col-lg-8 justify-content-center" id="manage-row">
            <button class="pad-box fs-6 text-light mx-auto" id="addUser">
                <img src="{% static 'assets/img/logo/adduser.png' %}" class="px-3 pt-1 pad-logo"></br>
                <p class="fs-6 mt-1 text-center" id="pad-title">Ajouter utilisateur</p>
            </button>
            <button class="pad-box fs-6 text-light mx-auto" onclick="location.href = '/helpdashboard';">
                {% if ticket %}
                <div class="pad-notif-center bg-green">{{ ticket.open }}</div> 
                {% endif %}
                <img src="{% static 'assets/img/logo/ticket.png' %}" class="px-3 pt-1 pad-logo"></br>
                <p class="fs-6 mt-1 text-center" id="pad-title">Consulter les tickets</p>
            </button>
            <button class="pad-box  fs-6 text-light mx-auto" id="addFaq">
                <img src="{% static 'assets/img/logo/faq.png' %}" class="px-3 pt-1 pad-logo"></br>
                <p class="fs-6 mt-1 text-center" id="pad-title">Ajouter une réponse</p>
            </button>
            <button class="pad-box  fs-6 text-light mx-auto" id="addLink">
                <img src="{% static 'assets/img/logo/link.png' %}" class="px-3 pt-1 pad-logo"></br>
                <p class="fs-6 mt-1 text-center" id="pad-title">Ajouter un lien utile</p>
            </button>
        </div>
        <div class="row py-2 col-lg-8 justify-content-center" id="manage-row">
            <button class="pad-box  fs-6 text-light mx-auto" id="addActuality">
                <img src="{% static 'assets/img/logo/actuality.png' %}" class="px-3 pt-1 pad-logo"></br>
                <p class="fs-6 mt-1 text-center" id="pad-title">Ajouter une actualité</p>
            </button>
            <button class="pad-box  fs-6 text-light mx-auto" id="addTem">
                <img src="{% static 'assets/img/logo/temoin.png' %}" class="px-3 pt-1 pad-logo"></br>
                <p class="fs-6 mt-1 text-center" id="pad-title">Ajouter un témoignage</p>
            </button>
            <button class="pad-box  fs-6 text-light mx-auto" id="addPromo">
                <img src="{% static 'assets/img/logo/dip.png' %}" class="px-3 pt-1 pad-logo"></br>
                <p class="fs-6 mt-1 text-center" id="pad-title">Ajouter une promotion</p>
            </button>
            <div class="pad-box fs-6 text-light mx-auto" id="addPhoto" onclick="">
                <img src="{% static 'assets/img/logo/photo.png' %}" class="px-3 pt-1 pad-logo mt-1" id="logoPhoto"></br>
                <p class="fs-6 mt-1 text-center" id="pad-title">Ajouter une photo</p>
                <form style="display: none;" class="fs-6 row btn text-white text-center" id='imgform' method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }} 
                    <button class="fs-6 mt-2 btn text-dark bg-light" type="submit">Ajouter photo</button>
                </form>
            </div>
        </div>
    </section>
</header>
{% endif %}
{% endblock %}