{% extends "template_ref.html" %}
{% load static %}

{% block body %}
    <div class="mt-5">
        <form method="post" action="" class="mt-5 px-3 py-3 form-group" id="signup-form">
            {% csrf_token %}
            <div class="ml-sign fs-7 pt-3 text-start">
                Email
                <input autocomplete='off' type="text" name="email" class="form-control" placeholder=""/>
            </div>
            <div class="ml-sign fs-7 text-start pt-2">
                Prénom
                <input autocomplete='off' type="text" name="first_name" class="form-control" placeholder=""/>
            </div>
            
            <div class="ml-sign fs-7 text-start pt-2">
                Nom
                <input autocomplete='off' type="text" name="last_name" class="form-control" placeholder=""/>
            </div>
            <div class="ml-sign fs-7 text-start pt-2">
                Mot de passe
                <input autocomplete='off' type="password" name="password" class="form-control" placeholder="********"/>
            </div>
            <div class="ml-sign fs-7 text-start pt-2">
                Confirmation du mot de passe
                <input autocomplete='off' type="password" name="password2" class="form-control" placeholder="********"/>
            </div>
            {% if status == 'fail_to_created_user' %}
            <div class="ml-sign bg-false col-lg-12 text-center px-2" id="wrong_id">
                <strong class="mt-2">
                    Informations incorects
                </strong>
            </div>
            {% elif status == 'pw_not_pw2' %}
            <div class="ml-sign bg-false col-lg-12 text-center px-2" id="wrong_id">
                <strong class="mt-2">
                    Les mots de passes ne sont pas identiques
                </strong>
            </div>
            {% elif status == 'to_short_pw' %}
            <div class="ml-sign bg-false col-lg-12 text-center px-2" id="wrong_id">
                <strong class="mt-2">
                    Le mot de passe est trop court</br>(minimun 8 caractères)
                </strong>
            </div>
            {% elif status == 'username_to_short' %}
            <div class="ml-sign bg-false col-lg-12 text-center px-2" id="wrong_id">
                <strong class="mt-2">
                    Le pseudo est trop court(minimun 2 caractères)
                </strong>
            </div>
            {% elif status == 'not_cgu' %}
            <div class="ml-sign bg-false col-lg-12 text-center px-2" id="wrong_id">
                <strong class="mt-2">
                    Vous n'avez pas acceptez les CGU
                </strong>
            </div>
            {% endif %}
            <div class="ml-sign row mt-3">
                <input type="checkbox" id="scales" name="scales" class="col-lg-1">
                <div class="col-lg-11 fs-7" >J'accepte les <a href="/pdf_view?query=cgu">conditions générales d'utilisations</a></div>
            </div>
            <button class="mt-3 w-50 btn btn-lg text-light mx-auto bg-primary" type="submit" name="signup_btn">
                S'inscrire !
            </button>
        </form></br>
    </div>

{% endblock %}