{% extends "dashboard.html" %}
{% load static %}
{% load convert_markdown %}
{% block inview %}
<!-- about us -->
    <div class="section container-fluid overlay">
      <div class="row align-items-start justify-content-center">
        <div class="col-md-10 order-2 order-md-1">
            <h2 class="section-title py-5 text-center" style="font-family:futura">Modifier les utilisateurs</h2>
            {% for user in users %}
            <div id="@{{user.id}}" class="col-12 my-1 py-1 box-user bg-primary" style="max-height:60px;overflow:hidden">
                <a onClick="" id="b@{{user.id}}" class="d-inline-block text-color" style="position: absolute;right: 10px;top: 10px;"><i style="font-size: 40px;color:#fff" id="i@{{ user.id }}" class="ti-arrow-down"></i></a>
                <h4 class="pt-3 text-white">
                    {% if user.is_superuser %} Administrateur {% else %} Étudiant {% endif %}
                    | {{ user.first_name }} {{ user.last_name }}
                </h4>
                <form method="post" action="/mod_user?id={{user.id}}" class="p-3">
                    <div class="col-lg-12 row justify-content-center" style="padding:0">
                        {% csrf_token %}
                        <div class="col-lg-12 row justify-content-arround" id="box_{{user.id}}" style="padding:0">
                            <div class="col-3" style="padding: 2px 0px">
                                <input autocomplete='off' type="text" style="padding: 0 2px" name="username" class="form-control" value="{{ user.username }}"/>
                            </div>
                            <div class="col-5">
                                <input autocomplete='off' type="text" style="padding: 0 5px" name="email" class="form-control" value="{{ user.email }}"/>
                            </div> 
                            <div class="col-2 text-start pt-2 text-white">
                                Administrateur :
                                {% if user.is_staff or user.is_superuser %}
                                <input checked id="del_user" name="is_staff" type="checkbox"/>
                                {% else %}
                                <input id="del_user" name="is_staff" type="checkbox"/>
                                {% endif %}
                                Supprimer :
                                <input name="delete_it" id="del_user" type="checkbox" />
                            </div>
                            <div class="col-1">
                                <input type='submit' class="btn btn-secondary" value="Modifier"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
            {% endfor %}
        </div>
    </div>
    <script>
        let list_of_user = document.getElementsByClassName('box-user')
        for (let user of list_of_user) {
            let id_user = user.id;
            let btn_show = document.getElementById('b' + id_user);
            btn_show.addEventListener('click', function() {
                if ('ti-arrow-down' == document.getElementById('i' + id_user).getAttribute('class')) {
                    document.getElementById(id_user).setAttribute('style', '');
                    document.getElementById('i' + id_user).setAttribute('class', 'ti-arrow-up')
                }
                else {
                    document.getElementById(id_user).setAttribute('style', 'max-height:60px;overflow:hidden');
                    document.getElementById('i' + id_user).setAttribute('class', 'ti-arrow-down')
                }
                
            })
        };
    </script>
  </section>
  <!-- /about us -->

  {% if response %}
  <!-- MODAL RESPONSE -->
  <div class="modal fade show bg-primary align-items-center" id="modal" style="padding-right: 9px; display: flex;">
      <div class="modal-dialog modal-lg p-5" role="document">
          <div class="modal-content rounded-0 border-0 p-5">
              {% if response_error %}
              <img class="modal-dialog" style='width:300px' src="{% static 'images/gifs/alert.gif' %}">
              {% else %}
              <img class="modal-dialog" style='width:300px' src="{% static 'images/gifs/validate.gif' %}">
              {% endif %}
              <h4 class="text-center">{{ response_text }}</h4>
              <button class="btn btn-secondary" id="modal-close">FERMER</button>
              <script>
                  document.getElementById('modal-close').addEventListener(
                      'click',
                      function() {
                          document.getElementById('modal').setAttribute(
                              'class',
                              'modal fade'
                          )
                          document.getElementById('modal').setAttribute(
                              'style',
                              ''
                          )
                      }
                  )
              </script>
          </div>
      </div>
  </div>
  <!-- MODAL RESPONSE -->
  {% endif %}
  
{% endblock %}
