{% extends "dashboard.html" %}
{% load static %}
{% load convert_markdown %}
{% block inview %}
<!-- about us -->
<div class="container-fluid overlay">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6 py-3">
            <h2 class="section-title py-2 text-center" style="font-family:futura">Ajouter une actualité</h2>
            <form action="/add_data" method="POST" class="my-3 row">
                {% csrf_token %}
                <h4>Paramètres de l'actualité</h4>
                <div class="col-12 my-2">
                    <input type="text" name="box" value="actuality" style="display: none;"/>
                    <input required autocomplete='off' type="text" name="title" class="form-control" placeholder="Titre"/>
                </div>
                <div class="row col-lg-12">
                    <div class="col-lg-6">
                        Date de début
                        <input required autocomplete='off' type="date" name="start" class="form-control"/>
                    </div>
                    <div class="col-lg-6">
                        Date de fin
                        <input required autocomplete='off' type="date" name="end" class="form-control"/>
                    </div>
                </div>
                <div class="col-12 pt-3">
                    Lien vers site exterieur : <input id="ext_link_btn_2" type="checkbox" onclick="checkchange2(this)"/><br>
                    <input id="external_link" autocomplete='off' type="text" class="form-control mt-2" name="ext_link" placeholder="Lien du boutton" style="display:none">
                    <script type="text/javascript">
                        function checkchange2(checkbox)
                        {
                            if (checkbox.checked)
                            {
                                document.getElementById('external_link').setAttribute('style', "display:block");
                            }
                            else
                            {
                                document.getElementById('external_link').setAttribute('style', "display:none");
                            }
                        }
                    </script>
                </div>
                <div class="col-12 py-3" id="1">
                    Petite description (Accueil & Actualités)
                    <textarea required id="text-area1" style="resize:none;height:150px" maxlength="110" autocomplete='off' row="6" cols="20" type="text" class="form-control" name="short_desc" placeholder="110 caractères maximum"></textarea>
                     <!-- Style for text-area -->
                    <a style="padding-left:20px;width:35px" id="#" onClick="" class="btn btn-primary btn-style p-0 mb-5 px-2"><i class="ti-back-left"></i></a>
                    <a style="width:35px" id="**" onClick="" class="btn btn-primary btn-style p-0 mb-5 px-2"><strong>B</strong></a>
                    <a style="width:35px" id="*" onClick="" class="btn btn-primary btn-style p-0 mb-5 px-2"><i>it</i></a>
                    <a style="width:35px" id="***" onClick="" class="btn btn-primary btn-style p-0 mb-5 px-2"><i><strong>IB</strong></i></a><br>
                    <!-- Style for text-area -->
                </div>
                <div class="col-12 py-3" id="2" style="margin-top:-50px">
                    Article (Actualité)
                    <textarea required id="text-area2" style="resize:none;height:150px;" maxlength="1000" autocomplete='off' row="6" cols="30" type="text" class="form-control" name="article" placeholder="1000 caractères maximum"></textarea>
                     <!-- Style for text-area -->
                    <a style="padding-left:20px;width:35px" id="#" onClick="" class="btn btn-primary btn-style p-0 mb-5 px-2"><i class="ti-back-left"></i></a>
                    <a style="width:35px" id="**" onClick="" class="btn btn-primary btn-style p-0 mb-5 px-2"><strong>B</strong></a>
                    <a style="width:35px" id="*" onClick="" class="btn btn-primary btn-style p-0 mb-5 px-2"><i>it</i></a>
                    <a style="width:35px" id="***" onClick="" class="btn btn-primary btn-style p-0 mb-5 px-2"><i><strong>IB</strong></i></a><br>
                    <!-- Style for text-area -->
                </div>
                <div class="col-12 my-2">
                    <h4 >Choix de l'image</h4>
                    <div class="col-12 text-center h4">
                        Portrait
                        <label class="switch" style="display: inline-block !important">
                            <input checked class="mx-5" id="format" name="format" type="checkbox">
                            <span style="margin:0" class="slider round">
                        </label>
                        Paysage
                    </div>
                    L'image provient-elle d'un autre site ? : <input id="ext_link_btn" type="checkbox" onclick="checkchange(this)"/>
                    <select id="select-img" type="text" name="link" class="form-control my-3" >
                        <option value="none">Nom de l'image</option>
                        {% for img in imgs %}
                        <option value="{{img.image}}">{{img.image}}</option>
                        {% endfor %}
                    </select>
                    <div id="ext_link" class="col-12 px-0 mt-3" style="display:none">
                        <input autocomplete='off' type="text" name="link_ext" class="form-control" placeholder="Lien externe"/>
                    </div>
                    
                        

                </div>
                
                 <br>
                 <div class="col-12 text-center">
                    <button type="submit" value="send" class="btn btn-primary mt-2">AJOUTER</button>
                    <!-- <a onClick="" id="btn-show" class="btn btn-primary btn-prev mt-2">PRÉVISUALISER</a> -->
                 </div>
                 
                
            </form>
        </div>
    </div>
</section>

<!-- MODAL PREVIEW -->
<div id="modal-prev" class="bg-primary my-3 py-5" style="display:none">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md-12 order-2 order-md-1">
                <div id="@1" class="col-12 my-1 py-1 box-faq bg-white" style="height:80px;overflow:hidden">
                    <a onClick="" id="b@1" class="d-inline-block text-color" style="position: absolute;right: 0;top: 0;"><i id="i@1" class="ti-arrow-down"></i></a>
                    <h4 id="title-modal-prev" class="pt-3"></h4>
                    <p id="text-modal-prev"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL PREVIEW -->

{% if response %}
<!-- MODAL RESPONSE -->
<div class="modal fade show bg-primary align-items-center" id="modal" style="padding-right: 9px; display: flex;">
    <div class="modal-dialog modal-lg p-5" role="document">
        <div class="modal-content rounded-0 border-0 p-5">
            {% if response_error %}
            <img class="modal-dialog" style='width:300px' src="{% static 'images/gifs/alert.gif' %}">
            {% else %}
            <img class="modal-dialog" style='width:300px' src="{% static 'images/gifs/validate.gif' %}">
            {% endif %}
            <h4 class="text-center">{{ response_text }}</h4>
            <button class="btn btn-secondary" id="modal-close">FERMER</button>
            <script>
                document.getElementById('modal-close').addEventListener(
                    'click',
                    function() {
                        document.getElementById('modal').setAttribute(
                            'class',
                            'modal fade'
                        )
                        document.getElementById('modal').setAttribute(
                            'style',
                            ''
                        )
                    }
                )
            </script>
        </div>
    </div>
</div>
<!-- MODAL RESPONSE -->
{% endif %}

<script type="text/javascript">
    function checkchange(checkbox)
    {
        if (checkbox.checked)
        {
            document.getElementById('ext_link').setAttribute('style', "display:block");
            document.getElementById('select-img').setAttribute('style', "display:none");
        }
        else
        {
            document.getElementById('ext_link').setAttribute('style', "display:none");
            document.getElementById('select-img').setAttribute('style', "display:block");
        }
    }
</script>
<!-- Style for text-area -->
<script>
    function modificateText(idoftextarea, style){
        var textArea = document.getElementById(idoftextarea);
        var text =textArea.value;
        var indexStart=textArea.selectionStart;
        var indexEnd=textArea.selectionEnd;
        let newText = (
            text.substring(0, indexStart) +
            style +
            text.substring(indexStart, indexEnd) + 
            style +
            text.substring(indexEnd)
        )
        return(newText)
        
    }

    
    let list_of_style_btn = document.getElementsByClassName('btn-style')

    for (let btn of list_of_style_btn) {
        btn.addEventListener('click', function() {
            let id_ = btn.parentNode.id
            let AREA = document.getElementById('text-area' + id_)
            if (btn.id != "#") {
                AREA.value = modificateText('text-area' + id_, btn.id)
            }
            else {
                AREA.value = AREA.value + btn.id + '\n'
            } 
        })
    };
</script>
<!-- Style for text-area -->
{% endblock %}

