{% extends "dashboard.html" %}
{% load static %}
{% load convert_markdown %}
{% block inview %}
<!-- about us -->
<div class="container-fluid overlay">
    <div class="row align-items-start justify-content-center">
        <div class="col-md-6 order-2 order-md-1 py-3">
            <h2 class="section-title py-2 text-center" style="font-family:futura">Ajouter un membre du bureau</h2>
            <form action="/add_data" method="POST" class="my-3">
                {% csrf_token %}
                <input type="text" name="box" value="member" style="display: none;"/>
                <input type="text" name="box-2" value="office" style="display: none;"/>
                <input required autocomplete='off' type="text" name="name" class="form-control" placeholder="Nom"/>
                <select class="form-control" name="genre">
                    <option value="n">Genre</option>
                    <option value="f">Femme</option>
                    <option value="h">Homme</option>
                    <option value="n">Non-binaire</option>
                </select>
                <select class="form-control" name="role">
                    <option value="president">Présidente / Président</option>
                    <option value="vice-president">Vice-Présidente / Vice-Président</option>
                    <option value="secretary">Secrétaire</option>
                    <option value="treasurer">Trésorière / Trésorier</option>
                </select>
                <input autocomplete='off' type="text" name="promotion" class="form-control" placeholder="2021 - 2022"/>
                <input autocomplete='off' type="text" name="link" class="form-control" placeholder="Lien professionnel (ERDP ou Linkedin)"/>
                <select type="text" name="img_link" class="form-control" >
                    {% for img in imgs %}
                    <option value="{{img.image}}">{{img.image}}</option>
                    {% endfor %}
                </select>
                <br>
                <button type="submit" value="send" class="btn btn-primary mt-2">AJOUTER L'UTILISATEUR</button>
            </form>
        </div>
    </div>
  </section>
  <!-- /about us -->


  {% if response %}
  <!-- MODAL RESPONSE -->
  <div class="modal fade show bg-primary align-items-center" id="modal" style="padding-right: 9px; display: flex;">
      <div class="modal-dialog modal-lg p-5" role="document">
          <div class="modal-content rounded-0 border-0 p-5">
              {% if response_error %}
              <img class="modal-dialog" style='width:300px' src="{% static 'images/gifs/alert.gif' %}">
              {% else %}
              <img class="modal-dialog" style='width:300px' src="{% static 'images/gifs/validate.gif' %}">
              {% endif %}
              <h4 class="text-center">{{ response_text }}</h4>
              <button class="btn btn-secondary" id="modal-close">FERMER</button>
              <script>
                  document.getElementById('modal-close').addEventListener(
                      'click',
                      function() {
                          document.getElementById('modal').setAttribute(
                              'class',
                              'modal fade'
                          )
                          document.getElementById('modal').setAttribute(
                              'style',
                              ''
                          )
                      }
                  )
              </script>
          </div>
      </div>
  </div>
  <!-- MODAL RESPONSE -->
  {% endif %}
{% endblock %}
