{% extends "template_ref.html" %}
{% load static %}
{% load convert_markdown %}
{% block body %}
<div id="page-name" style="display: none;">Dashboard</div>
<header style="position: fixed;z-index: 1;right: 0;width: 100%;top:58px">
<!-- navbar -->
<div class="navigation w-100">
    <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-dark p-0 bg-primary m-0">
        <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center p-0 bg-primary" style="justify-content: space-around">
            <li class="nav-item">
            <a class="nav-link text-white" href="/gestion-du-site/home">Home</a>
            </li>
            <li class="nav-item dropdown view">
            <a class="nav-link dropdown-toggle text-white" href="/présentation" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Utilisateurs</a>
            <div class="dropdown-menu text-white bg-primary" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white" href="/gestion-du-site/ajouter-un-utilisateur">Ajouter un utilisateur</a>
                <a class="dropdown-item text-white" href="/gestion-du-site/modifier-un-utilisateur">Modifier les utilisateurs</a>
            </div>
            </li>
            <li class="nav-item dropdown view">
            <a class="nav-link dropdown-toggle text-white" href="/présentation" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Images</a>
            <div class="dropdown-menu text-white bg-primary" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white" href="/gestion-du-site/ajouter-une-photo">Ajouter une photo</a>
                <a class="dropdown-item text-white" href="/gestion-du-site/toutes-les-photos">Consulter les photos</a>
            </div>
            </li>
            <li class="nav-item dropdown view">
            <a class="nav-link dropdown-toggle text-white" href="/présentation" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Actualités</a>
            <div class="dropdown-menu text-white bg-primary" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white" href="/gestion-du-site/ajouter-une-actualité">Ajouter une actualité</a>
                <a class="dropdown-item text-white" href="/gestion-du-site/modifier-une-actualité">Modifier une actualité</a>
            </div>
            </li>
            <li class="nav-item dropdown view">
            <a class="nav-link dropdown-toggle text-white" href="/présentation" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Équipe P.</a>
            <div class="dropdown-menu text-white bg-primary" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white" href="/gestion-du-site/ajouter-un-membre-de-l-équipe-pédagogique">Ajouter un membre</a>
                <a class="dropdown-item text-white" href="/gestion-du-site/modifier-un-membre-de-l-équipe-pédagogique">Modifier un membre</a>
            </div>
            </li>

            <li class="nav-item">
            <a class="nav-link text-white py-1" href="mailto:contact@alexisbellamy.fr"><img style="height:50px" src="{% static 'images/icons/support.png' %}" alt="aide du développeur"></i></a>
            </li>

            <li class="nav-item dropdown view">
            <a class="nav-link dropdown-toggle text-white" href="/présentation" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Témoignages</a>
            <div class="dropdown-menu text-white bg-primary" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white" href="/gestion-du-site/ajouter-un-témoignage">Ajouter un témoignage</a>
                <a class="dropdown-item text-white" href="/gestion-du-site/modifier-un-témoignage">Modifier un témoignage</a>
            </div>
            </li>
            <li class="nav-item dropdown view">
            <a class="nav-link dropdown-toggle text-white" href="/présentation" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Promotions</a>
            <div class="dropdown-menu text-white bg-primary" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white">En cours..</a>
            </div>
            </li>
            <li class="nav-item dropdown view">
            <a class="nav-link dropdown-toggle text-white" href="/présentation" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Bureau</a>
            <div class="dropdown-menu text-white bg-primary" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white" href="/gestion-du-site/ajouter-un-membre-du-bureau">Ajouter un membre</a>
                <a class="dropdown-item text-white" href="/gestion-du-site/modifier-un-membre-du-bureau">Modifier un membre</a>
            </div>
            </li>
            <li class="nav-item dropdown view">
            <a class="nav-link dropdown-toggle text-white" href="/présentation" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">FAQs</a>
            <div class="dropdown-menu text-white bg-primary" aria-labelledby="navbarDropdown" style="margin-left:-40px">
                <a class="dropdown-item text-white" href="/gestion-du-site/ajouter-à-la-faq">Ajouter à la FAQs</a>
                <a class="dropdown-item text-white" href="/gestion-du-site/modifier-la-faq">Modifier la FAQs</a>
            </div>
            </li>
            <li class="nav-item dropdown view">
            <a class="nav-link dropdown-toggle text-white" href="/présentation" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Liens</a>
            <div class="dropdown-menu text-white bg-primary" aria-labelledby="navbarDropdown" style="margin-left:-120px">
                <a class="dropdown-item text-white" href="/gestion-du-site/ajouter-un-lien">Ajouter un lien</a>
                <a class="dropdown-item text-white" href="/gestion-du-site/modifier-un-lien">Modifier les liens</a>
            </div>
            </li>
        </ul>
        </div>
    </nav>
    </div>
</div>
</header>
<section class="section py-0" style="margin-top:116px;">
  <div class="container-fluid">
    <div class="row align-items-start">
        <div class="col-lg-12 px-0">
            {% block inview %}
            {% endblock %}
        </div>
    </div>
</section>
<script>
    if (window.innerWidth < 1146) {
        window.location.replace("https://www.masteraffairescontrats-poitiers.fr");
    }
</script>
{% endblock %}