{% extends "template_ref.html" %}
{% load static %}
{% block body %}
{% if request.user.is_staff %}
<header class="top-manage" id="pagetop">    
    <section class="container-fluid mt-1 row dashboard justify-content-center slidefromleft" id="dash-manage">
        <div class="row pt-2 col-lg-10 justify-content-center" id="">
            <div class="row px-0 border-primary col-lg-12">
                <div class="col-lg-3 bg-light border-primary fs-6">
                    Date
                </div>
                <div class="col-lg-3 bg-light border-primary fs-6">
                    Titre
                </div>
                <div class="col-lg-3 bg-light border-primary fs-6">
                    Etat
                </div>
                <div class="col-lg-3 bg-light border-primary fs-6">
                    Voir
                </div>
            </div>
        </div>
        <div class="row col-lg-10 justify-content-center" id="help-pannel">
            <div class="row px-0 col-lg-12">
                <div class="col-lg-3 bg-light fs-6 px-0">
                    {% for ticket in tickets %}
                    <p class="fs-6 py-1 px-2 my-0  border-lbr">{{ ticket.date }}</p>
                    {% endfor %}
                </div>
                <div class="col-lg-3 bg-light fs-6 px-0">
                    {% for ticket in tickets %}
                    <p class="fs-6 py-1 px-2 my-0 border-lbr">{{ ticket.title }}</p>
                    {% endfor %}
                </div>
                <div class="col-lg-3 bg-light fs-6 px-0">
                    {% for ticket in tickets %}
                    {% if ticket.state == True %}
                    <p class="fs-6 py-1 px-2 my-0 border-lbr">Ouvert</p>
                    {% else %}
                    <p class="fs-6 py-1 px-2 my-0 border-lbr">Fermée</p>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-lg-3 bg-light fs-6 px-0">
                    {% for ticket in tickets %}
                    <p class="fs-6 py-1 px-2 my-0 border-lbr"><a href="/ticket?id={{ticket.id}}" target="_blank">Voir ticket n°{{ticket.id}}</a></p>
                    {% endfor %}
                </div>
        </div>
    </section>
</header>
{% endif %}
{% endblock %}