
{% extends "template_ref.html" %}
{% load static %}
{% load convert_markdown %}
{% block body %}
<div id="page-name" style="display: none;">Accueil</div>
<!-- /header -->
<!-- hero slider -->
<section class="hero-section overlay bg-cover p-0" data-background="{% static 'images/backgrounds/photo1.jpg' %}">
  <div class="container" style="height: 100vh;align-items: center;display: flex;">
        <div class="row">
          <div class="col-md-12">
            <h2 class="" style="font-family:futura" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">
              Bienvenue sur le site de l'Association des<br>Masters Contrats en Droit français et européen
            </h2>
            <p class="text-muted mb-4" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".4">
              
            </p>
            <a href="/association" class="btn btn-primary" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".7">En savoir plus...</a>
          </div>
        </div>
  </div>
</section>
<!-- about us -->
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7 order-2 order-md-1">
        <h2 class="section-title" style="font-family:futura">Le mot des directeurs</h2>
        <p>&#171; [...] Le Master <i>Contrats en droit français et européen</i> jouit d’une solide réputation dans les milieux 
          universitaires et professionnels. Il attire des étudiants particulièrement intéressés par ce qui 
          constitue le cœur de l’activité économique : le contrat, dans toute sa diversité, et qui ont une 
          affinité particulière avec la dimension européenne et internationale des contrats 
          et des affaires...&#187;<br>
          <br>
          
        </p>
        <p><strong>Hélène Boucard et Lionel Andreu</strong><br>
          Professeurs de droit privé et sciences criminelles<br>
          Codirecteurs du Master Droit des affaires, Contrats en droit français et européen<br>
          Université de Poitiers<br>
        </p>
        <a href="présentation" class="btn btn-primary-outline">Voir plus</a>
      </div>
      <div class="col-md-5 order-1 order-md-2 mb-4 mb-md-0">
        <img class="img-fluid w-100" style="opacity:0.7" src="{% static 'images/directors.jpg' %}" alt="about image">
      </div>
    </div>
  </div>
</section>
<!-- /about us -->

<!-- cta -->
<section class="section bg-primary py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h6 class="text-white font-secondary mb-0">Vous êtes étudiant</h6>
        <h2 class="section-title text-white">Pourquoi adhérer à l'association ?</h2>
        <a href="association" class="btn btn-secondary">Plus d'informations</a>
      </div>
    </div>
  </div>
</section>
<!-- /cta -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 style="font-family:futura" class="section-title">Dernières actualités</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      {% for actuality in actualities %}
      <!-- blog post -->
      <article class="col-lg-4 col-sm-6 mb-5">
        <div class="card h-100 rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
            {% if not actuality.media %}
            <div style="height:350px;background:url({{actuality.img_link}});background-size:cover;background-position:center"></div>
            {% else %}
            <div style="height:350px;background:url({{media_location}}{{actuality.img_link}});background-size:cover;background-position:center"></div>
            {% endif %}
            <div class="card-body">
                <!-- post meta -->
                <ul class="list-inline mb-3">
                    <!-- post date -->
                    <li class="list-inline-item mr-3 ml-0">
                        {% if actuality.same_day == 1 %}
                        Le {{ actuality.start }}
                        {% elif actuality.same_day == 0 %}
                        Du {{ actuality.start }}<br>
                        au {{ actuality.end }}
                        {% endif %}
                    </li>
                    <!-- author -->
                </ul>
                <a href="blog-single.html">
                  <h4 class="card-title">{{ actuality.title }}</h4>
                </a>
            </div>
            <div class="row mx-3 px-1">
                {{ actuality.short_desc|convert_markdown|safe }}
            </div>
            <a href="/actualité?id={{ actuality.id }}" class="btn btn-primary btn-sm">Lire plus</a>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}