{% extends "template_ref.html" %}
{% load static %}
{% block body %}
<div class="col-lg-12 py-4 justify-content-center text-center" style="border:solid 1px #000;background:#900c2f">
  <header style="position: fixed;z-index: 1;right: 0;width: 100%;top:58px">
      <!-- navbar -->
      <div class="navigation w-100">
        <div class="container-fluid p-0">
          <nav class="navbar navbar-expand-lg navbar-dark p-0 bg-primary m-0">
            <div class="navbar-collapse" id="navigation">
              <ul class="navbar-nav ml-auto text-center p-0 bg-primary" style="flex-direction:row;justify-content: space-around">
                <li class="nav-item mx-0 p-0" style="width:33%">
                  <a class="nav-link text-white" href="/espace-collaboratif/home">Home</a>
                </li>
                <li class="nav-item mx-0 p-0" style="width:33%">
                  <a class="nav-link text-white" href="/mon-compte">Mon compte</a>
                </li>
                <li class="nav-item mx-0 p-0" style="width:33%">
                  <a class="nav-link text-white" href="/log_out">Déconnection</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
  </header>
</div>
<section class="section overlay mt-2 py-5" data-background="{% static 'images/backgrounds/success-story.jpg' %}">
  <div class="container py-5">
    <div class="row align-items-center justify-content-center mt-5">
        <h3 class="col-lg-12">Paramètres du compte</h3>
        <div class="col-lg-12 mt-5 row align-items-center">
          <div class="col-lg-3 col-sm-6 row justify-content-center">
            {% if media %}
            <div style="border-radius:50%;height:20vh;width:20vh;background:url('{{media_url}}{{img}}');background-position:center;background-size:cover">
            </div>
            {% else %}
            <div style="border-radius:50%;height:20vh;width:20vh;background:url('https://s3.fr-par.scw.cloud/m2contratspoitiers/media/grey.png');background-position:center">
            </div>
            {% endif %}
            <ul class="list-inline text-center mt-3 w-100">
                <li class="list-inline-item">{{ request.user.first_name }} {{ request.user.last_name }}</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <a href="password-reset" class="btn btn-primary-outline my-3 px-0 w-100">Modifier mon mot de passe</a>
          </div>
          <div class="col-lg-3"> 
            <a href="espace-collaboratif/ajouter-une-photo" class="btn btn-primary-outline my-3 px-0 w-100">Ajouter une photo de profil</a>
          </div>
          <div class="col-lg-3">
            <a href="del_?id={{request.user.id}}&t=user&username={{request.user.username}}" class="btn btn-danger my-3 px-0 w-100">Supprimer mon compte</a>
          </div>
        </div>
        <div class="col-lg-12">
            <div class="row mt-5">
                <form action="mod_data?id={{request.user.id}}&dbdata=user" method="POST" class="row w-100">
                  {% csrf_token %}
                  <div class="col-lg-5">
                    Pseudo de connection :
                    <input value="{{request.user.username}}" name="name_" style="display:none">
                    <input type="text" class="form-control mb-3" id="name" name="username" value="{{ request.user.username }}">
                  </div>
                 <div class="col-lg-5">
                  Adresse Email :
                  <input type="email" class="form-control mb-3" id="mail" name="email" value="{{ request.user.email }}">
                  
                 </div>
                 <div class="col-lg-2 mt-3 pt-1">
                  <button type="submit" value="send" class="btn btn-primary">MODIFIER</button>
                 </div>
                  
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}