{% extends "template_ref.html" %}
{% load static %}
{% block body %}
<!-- page title -->
<div id="page-name" style="display: none;">Master</div>
<section style="background-position: center;background-size: cover;" class="page-title-section overlay" data-background="{% static 'images/backgrounds/photo3.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a style="font-family:futura" class="h1 text-primary font-secondary" href="@@page-link">Présentation des Masters</a></li>
                </ul>
                <p class="">
                    
                    Retrouvez d'avantage d'informations sur
                    <a style="color:#900c2f" href="https://formations.univ-poitiers.fr/fr/index/master-XB/master-XB/master-droit-des-affaires-JATDBMXC//parcours-contrats-en-droit-francais-et-europeen-JATDLE32.html" target="_blank">
                        univ-poitiers.fr
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
<!-- La formation-->
<section class="section" id="la-formation">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-md-8 order-2 order-md-1">
          <h2 class="section-title" style="font-family:futura">La formation</h2>
          <p>
            À l’issue du Master 1 Droit des affaires (tronc commun), ce parcours de Master forme 
            des juristes de haut niveau spécialisés en droit des contrats et ses disciplines connexes (par 
            exemple concurrence, distribution et consommation), sensibilisés aux influences européennes 
            s’exerçant sur la discipline et aisément adaptables aux évolutions issues des sources internes, 
            européennes et internationales.
          </p>
          <p>
            Il confère une connaissance approfondie du droit des contrats en ses diverses branches, dans 
            le contexte contemporain de réforme nationale et de l’harmonisation du droit international et 
            européen des contrats. La formation, assurée par des universitaires et professionnels 
            spécialistes de la technique contractuelle, permet d’acquérir une excellente maîtrise du droit 
            positif, national, étranger, international et européen des contrats, destinant les diplômés à cette 
            spécialisation dans l’exercice des professions d’avocat, magistrat, juriste en entreprise.
          </p>
        </div>
        <div class="col-md-4 order-2 order-md-1">
            <h2 class="section-title" style="font-family:futura">Les plus ...</h2>
            <p>
                La clinique juridique sur candidature
                <a class="icon" target="_blanck" href="https://droit.univ-poitiers.fr/la-faculte/clinique-juridique">
                    <i style="margin-top:10px;border: solid 1px #900c2f;color:#900c2f;border-radius: 10px;" class="ti-arrow-right"></i>
                </a>
            </p>
            <p>Conférences de Professeurs étrangers invités</p>  
            <p>Possibilité de faire un stage à l’étranger</p>
            <p>Possibilité d'effectuer une mobilité à l'étranger sur candidature</p>
          </div>
      </div>
    </div>
  </section>
<!-- /la formation -->
<!-- le programme -->
<section class="section" id="le-programme" style="background-color: #900c2f;color: #fff !important;">
    <div class="container">
      <div class="row align-items-start">
        <h2 class="section-title w-100 p-4" style="font-family:futura;color:#fff">Le Programme</h2>
        <div class="col-md-6 order-2 order-md-1">
          <p style="line-height:30px;color:#fff">
            Le Master 1 Droit des affaires, dit de tronc commun, offre un socle commun de connaissances 
            et de compétences partagées, requises de tout diplômé en droit des affaires. Le Master 2 
            approfondi les connaissances et compétences propres au parcours.
          </p>
          <ul class="text-start">
            <li class="py-1" style="list-style-type: disc;">Droit bancaire</li>
            <li class="py-1" style="list-style-type: disc;">Droit des sûretés</li>
            <li class="py-1" style="list-style-type: disc;">Droit des procédures collectives</li>
            <li class="py-1" style="list-style-type: disc;">Droit fiscal des affaires</li>
            <li class="py-1" style="list-style-type: disc;">Droit international privé </li>
            <li class="py-1" style="list-style-type: disc;">Droit patrimonial de l’entreprise </li>
            <li class="py-1" style="list-style-type: disc;">Droit du commerce international</li>
            <li class="py-1" style="list-style-type: disc;">Droit interne et européen de la concurrence</li>
            <li class="py-1" style="list-style-type: disc;">Anglais</li>
            <li class="py-1" style="list-style-type: disc;">Ressources numériques : initiation à la recherche </li>
            <li class="py-1" style="list-style-type: disc;">Stage facultatif d’un mois</li>
        </ul>
        </div>
        <div class="col-md-6 order-2 order-md-1">
            <p style="line-height:30px;color:#fff">
                Le Master 2 se concentre sur des disciplines relatives au droit des contrats. Certains 
                séminaires sont mutualisés avec les Master Droit de l’entreprise et des affaires-DJCE 
                et Droit notarial.
            </p>
            <ul class="text-start">
                <li class="py-1" style="list-style-type: disc;">Droit commun du contrat </li>
                <li class="py-1" style="list-style-type: disc;">Droit spécial des contrats </li>
                <li class="py-1" style="list-style-type: disc;">Droit européen du contrat : Droit de l’Union européenne</li>
                <li class="py-1" style="list-style-type: disc;">Droit européen du contrat : Convention européenne des droits de l’homme</li>
                <li class="py-1" style="list-style-type: disc;">Droit international privé des contrats</li>
                <li class="py-1" style="list-style-type: disc;">Droit comparé des contrats </li>
                <li class="py-1" style="list-style-type: disc;">Technique contractuelle (tronc commun)</br> Négociation contractuelle + Spécialisation 
                    (Contrats d’affaires OU Vente d’immeubles existants et prêts immobiliers OU 
                    Opérations sur fonds de commerce et baux commerciaux</li>
                <li class="py-1" style="list-style-type: disc;">Modes alternatifs de règlement des litiges</li>
                <li class="py-1" style="list-style-type: disc;">Droit de la concurrence et de la distribution</li>
                <li class="py-1" style="list-style-type: disc;">Contrats de consommation</li>
                <li class="py-1" style="list-style-type: disc;">Contrats de travail</li>
                <li class="py-1" style="list-style-type: disc;">Formation à la recherche</li>
                <li class="py-1" style="list-style-type: disc;">Préparation à l’insertion professionnelle</li>
                <li class="py-1" style="list-style-type: disc;">Langues étrangères </li>
                <li class="py-1" style="list-style-type: disc;">Projets collectifs</li>
            </ul>
          </div>
      </div>
    </div>
  </section>
<!-- /le programme -->
<!-- Services-->
<!-- page title -->
<section style="background-position:center;background-size: cover;" id="équipe-pédagogique" class="page-title-section overlay" data-background="{% static 'images/backgrounds/photo11.JPG' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a style="font-family:futura" class="h1 text-primary font-secondary" href="@@page-link">L'équipe pédagogique</a></li>
                </ul>

            </div>
        </div>
    </div>
  </section>
  <!-- /page title -->
  
  <!-- teachers -->
  <section class="section">
    <div class="container">
      <!-- teacher list -->
      <div class="row ">
        {% for director in directors %}
        <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0 box-teacher" id="@{{director.id}}">
            <div class="media" style="height: 200px;">
              <img class="mr-3 img-fluid h-100" src="{{director.img_link}}" alt="speaker">
              <div class="media-body">
                <h4 class="mt-0">
                    <a style="color:#900c2f" href="{{director.link}}" target="_blanck">{{ director.name }}</a>
                    <a onClick="" id="b@{{director.id}}" class="d-inline-block text-color" style="position: absolute;right: 0;top: 0;"><i id="i@{{ director.id }}" class="ti-plus"></i></a>
                </h4>
                
                <p class="m-0" style="line-height:normal">
                    <strong>{{ director.status1 }}</strong>
                    <br>{{ director.status2 }}
                </p>
                <div class="text-teacher" id="t@{{director.id}}" style="display:none">
                    <p class="m-0" style="line-height:normal">{{ director.status3 }}</p>
                    <p class="m-0" style="line-height:normal">{{ director.status4 }}</p>
                    <p class="m-0" style="line-height:normal">{{ director.status5 }}</p>
                </div>

              </div>
            </div>
        </div>
        {% endfor %}
        {% for staff in team %}
        <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0 box-teacher mt-5" id="@{{staff.id}}">
            <div class="media" style="height: 200px;">
              <img class="mr-3 img-fluid h-100" src="{{staff.img_link}}" alt="speaker">
              <div class="media-body">
                <h4 class="mt-0">
                    <a style="color:#900c2f" href="{{staff.link}}" target="_blanck">{{ staff.name }}</a>
                    <a onClick="" id="b@{{staff.id}}" class="d-inline-block text-color" style="position: absolute;right: 0;top: 0;"><i id="i@{{ staff.id }}" class="ti-plus"></i></a>
                </h4>
                
                <p class="m-0" style="line-height:normal">
                    <strong>{{ staff.status1 }}</strong><br>
                </p>
                <div class="text-teacher" id="t@{{staff.id}}" style="display:none">
                    <p class="m-0" style="line-height:normal">{{ staff.status2 }}</p>
                    <p class="m-0" style="line-height:normal">{{ staff.status3 }}</p>
                    <p class="m-0" style="line-height:normal">{{ staff.status4 }}</p>
                    <p class="m-0" style="line-height:normal">{{ staff.status5 }}</p>
                </div>

              </div>
            </div>
        </div>
        {% endfor %}
        <script>
            let list_of_teacher = document.getElementsByClassName('box-teacher')
            for (let teacher of list_of_teacher) {
                let id_teacher = teacher.id;
                let btn_show = document.getElementById('b' + id_teacher);
                btn_show.addEventListener('click', function() {
                    if ('ti-plus' == document.getElementById('i' + id_teacher).getAttribute('class')) {
                        document.getElementById('t' + id_teacher).setAttribute('style', 'display:block;');
                        document.getElementById('i' + id_teacher).setAttribute('class', 'ti-minus')
                    }
                    else {
                        document.getElementById('t' + id_teacher).setAttribute('style', 'display:none');
                        document.getElementById('i' + id_teacher).setAttribute('class', 'ti-plus')
                    }
                    
                })
            };
          </script>
        </div>
    </div>
</section>
<!-- 
<div id="equipe-pedagogique">
    <div class="container" >
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>L'équipe pédagogique</h2>
                <p></p>
            </div>
        </div>
        <div class="row">
            {% for director in directors %}
            <div class="col-md-6 col-sm-6 text-center animate-box">
                <div  class="services" style="min-height: 300px;">
                    <a target="_blanck" href="{{ director.link }}" class="icon">
                        <img class="" style='height: 150px;width: auto;' src="{{ director.img_link }}">
                    </a>
                    <div class="desc">
                        <h3><a target="_blanck" href="{{ director.link }}">Pr. {{ director.name }}</a></h3>
                        <p>{{ director.status }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for staff in team %}
            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div  class="services" style="min-height: 300px;">
                    <a href="{{ staff.link }}" target="_blanck" class="icon">
                        <img class="" style='height: 150px;width: auto;max-width: 150px;' target="_blanck" href="{{ staff.img_link }}" class="icon" src="{% static 'assets/img/bannerpalette/blue.png' %}">
                    </a>
                    <div class="desc">
                        {% if staff.grade == "professor" %}
                        <h3><a href="{{ staff.link }}" target="_blanck">Pr. {{ staff.name }}</a></h3>
                        {% else %}
                        <h3><a href="{{ staff.link }}" target="_blanck">{{ staff.name }}</a></h3>
                        {% endif %}
                        <p>{{ staff.status }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-6 col-sm-6 text-center animate-box">
                <div class="services">
                    <a target="_blanck" href="https://erdp.labo.univ-poitiers.fr/membres/helene-boucard/" class="icon">
                        <img class="" style='height: 150px;width: auto;' src="https://erdp.labo.univ-poitiers.fr/wp-content/uploads/sites/183/2019/10/xHelene-BOUCARD.png.pagespeed.ic.-ItStUX-ya.webp">
                    </a>
                    <div class="desc">
                        <h3><a target="_blanck" href="https://erdp.labo.univ-poitiers.fr/membres/helene-boucard/">Pr. Boucard Hélène</a></h3>
                        <p>Professeur - Co-responsable du Master Droit des 
                            affaires – Co-responsable du Master Contrat en droit français et européen – Co-responsable 
                            du Master Franco-libanais juriste d’affaires – Directeur de l’Équipe de recherche en droit 
                            privé (ERDP)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 text-center animate-box">
                <div class="services">
                    <a target="_blanck" href="https://erdp.labo.univ-poitiers.fr/membres/lionel-andreu/" class="icon">
                        <img class="" style='height: 150px;width: auto;' src="https://erdp.labo.univ-poitiers.fr/wp-content/uploads/sites/183/2019/10/xLionel-ANDREU-150x150.jpg.pagespeed.ic.hgTtYKiqHp.webp">
                    </a>
                    <div class="desc">
                        <h3><a target="_blanck" href="https://erdp.labo.univ-poitiers.fr/membres/lionel-andreu/">Pr. Andreu Lionel</a></h3>
                        <p>Professeur - Responsable du Master Droit du 
                            patrimoine - Co-responsable du Master Contrats en droit français et européens - Responsable de 
                            l’axe Figures contractuelles et rapports d’obligation</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <a href="https://erdp.labo.univ-poitiers.fr/membres/nicolas-aymeric/" target="_blanck" class="icon">
                        <img class="" style='height: 150px;width: auto;max-width: 150px;' target="_blanck" href="https://erdp.labo.univ-poitiers.fr/membres/nicolas-aymeric/" class="icon" src="{% static 'assets/img/bannerpalette/blue.png' %}">
                    </a>
                    <div class="desc">
                        <h3><a href="https://erdp.labo.univ-poitiers.fr/membres/nicolas-aymeric/" target="_blanck">
                            Pr. Aymeric Nicolas
                        </a></h3>
                        <p>Professeur</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <a href="https://erdp.labo.univ-poitiers.fr/membres/michel-boudot/" target="_blanck" class="icon">
                        <img style='height: 150px;width: auto;max-width: 150px;' src="https://erdp.labo.univ-poitiers.fr/wp-content/uploads/sites/183/2019/10/xBoudot-Michel.jpg.pagespeed.ic.s9n5UAXtKe.webp">
                    </a>
                    <div class="desc">
                        <h3><a href="https://erdp.labo.univ-poitiers.fr/membres/michel-boudot/" target="_blanck">
                            Pr. Boudot Michel
                        </a></h3>
                        <p> Professeur - Vice-doyen chargé des relations 
                            internationales - Responsable de l'axe de recherche Droit comparé, européen et international 
                            de l'Équipe de recherche en droit privé (ERDP)</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <a href="https://erdp.labo.univ-poitiers.fr/membres/Vincent-bonnin/" target="_blanck" class="icon">
                        <img style='height: 150px;width: auto;max-width: 150px;' src="https://erdp.labo.univ-poitiers.fr/wp-content/uploads/sites/183/2019/10/xBONNIN-Vincent.jpg.pagespeed.ic.sRDyXxIzt2.webp">
                    </a>
                    <div class="desc">
                        <h3><a href="https://erdp.labo.univ-poitiers.fr/membres/Vincent-bonnin/" target="_blanck">
                            Bonnin Vincent
                        </a></h3>
                        <p> Maître de conférences – Habilité à Dirigé des 
                            Recherches (HDR) </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <a href="https://erdp.labo.univ-poitiers.fr/membres/etienne-casimir/" target="_blanck" class="icon">
                        <img style='height: 150px;width: auto;max-width: 150px;' src="https://erdp.labo.univ-poitiers.fr/wp-content/uploads/sites/183/2019/10/xEtienne-CASIMIR.jpg.pagespeed.ic.NIuyLVpr8K.webp">
                    </a>
                    <div class="desc">
                        <h3><a href="https://erdp.labo.univ-poitiers.fr/membres/etienne-casimir/" target="_blanck">
                            Pr. Casimir Etienne
                        </a></h3>
                        <p> Professeur – Responsable de l'axe de recherche 
                            Entreprise et société de l'Équipe de recherche en droit privé (ERDP) - Co-responsable du 
                            Master Droit notarial</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <a href="https://erdp.labo.univ-poitiers.fr/membres/valerio-forti/" target="_blanck" class="icon">
                        <img style='height: 150px;width: auto;max-width: 150px;' src="https://erdp.labo.univ-poitiers.fr/wp-content/uploads/sites/183/2019/10/xV.-Forti-Photo-scaled.jpg.pagespeed.ic.pK2hoXBlN5.webp">
                    </a>
                    <div class="desc">
                        <h3><a href="https://erdp.labo.univ-poitiers.fr/membres/valerio-forti/" target="_blanck">
                            Forti Valerio
                        </a></h3>
                        <p> Maître de conférences - Responsable du Master 
                            Double diplôme Franco-italien Contrats en droit européen - Directeur de l'Institut d'Études 
                            Judiciaires</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <a href="https://erdp.labo.univ-poitiers.fr/membres/eddy-lamazerolles/" target="_blanck" class="icon">
                        <img style='height: 150px;width: auto;max-width: 150px;' src="https://erdp.labo.univ-poitiers.fr/wp-content/uploads/sites/183/2019/10/xLAMAZEROLLES-Eddy.jpg.pagespeed.ic.-aNGdPi9Dj.webp">
                    </a>
                    <div class="desc">
                        <h3><a href="https://erdp.labo.univ-poitiers.fr/membres/eddy-lamazerolles/" target="_blanck">
                            Pr. Lamazerolles Eddy
                        </a></h3>
                        <p> Professeur - Responsable du Master Droit de 
                            l’entreprise et des affaires - DJCE - Directeur du Collège de droit français et européen des 
                            affaires de Varsovie - Responsable du Master Franco-polonais Droit français et européen des 
                            affaires</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <a class="icon">
                        <img style='height: 150px;width: auto;max-width: 150px;' src="{% static 'assets/img/bannerpalette/green.png' %}">
                    </a>
                    <div class="desc">
                        <h3><a>
                            Le Bert Mickael
                        </a></h3>
                        <p> Maison des langues - Enseignant d’anglais
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <a class="icon">
                        <img style='height: 150px;width: auto;max-width: 150px;' src="{% static 'assets/img/bannerpalette/red.png' %}">
                    </a>
                    <div class="desc">
                        <h3>
                            Lérignier Rémy
                        </h3>
                        <p> Ingénieur d’étude - Chargé de la documentation 
                            juridique informatisée
                            </br></br></br></br></br>&nbsp;
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <a href="https://erdp.labo.univ-poitiers.fr/membres/jean-philippe-lhernould/" target="_blanck" class="icon">
                        <img style='height: 150px;width: auto;max-width: 150px;' src="https://erdp.labo.univ-poitiers.fr/wp-content/uploads/sites/183/2019/10/xJean-Philippe-LHERNOULD-1.jpg.pagespeed.ic.B70h-mgO6R.webp">
                    </a>
                    <div class="desc">
                        <h3><a href="https://erdp.labo.univ-poitiers.fr/membres/jean-philippe-lhernould/" target="_blanck">
                            Pr. Lhernould Jean-Philipp
                        </a></h3>
                        <p> Professeur – Président de la Commission 
                            de l’expertise scientifique droit privé et science criminelles de l’Université de la Poitiers
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <a href="https://erdp.labo.univ-poitiers.fr/membres/fabien-marchadier/" target="_blanck" class="icon">
                        <img style='height: 150px;width: auto;max-width: 150px;' src="https://erdp.labo.univ-poitiers.fr/wp-content/uploads/sites/183/2019/10/xFabien-MARCHADIER-150x150.jpg.pagespeed.ic.wwZlHT6Ekm.webp">
                    </a>
                    <div class="desc">
                        <h3><a href="https://erdp.labo.univ-poitiers.fr/membres/fabien-marchadier/" target="_blanck">
                            Pr. Marchadier Fabien
                        </a></h3>
                        <p>  Professeur - Responsable du Master Droit 
                            international et européen</br></br>&nbsp;
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <a href="https://univ-droit.fr/universitaires/11001-pellier-jean-denis" target="_blanck" class="icon">
                        <img style='height: 150px;width: auto;max-width: 150px;' src="https://media-exp1.licdn.com/dms/image/C5603AQFYVbtjw4tlqg/profile-displayphoto-shrink_400_400/0/1526230273347?e=1635379200&v=beta&t=_iRJcuB7j9EE_WEx5ZgCc3mHi7rqkBmb10LkfJosl6U">
                    </a>
                    <div class="desc">
                        <h3><a href="https://univ-droit.fr/universitaires/11001-pellier-jean-denis" target="_blanck">
                            Pr. Pellier Jean-Denis
                        </a></h3>
                        <p>Professeur</br></br></br>&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <a href="https://erdp.labo.univ-poitiers.fr/membres/reye-francois/" target="_blanck" class="icon">
                        <img style='height: 150px;width: auto;max-width: 150px;' src="https://media-exp1.licdn.com/dms/image/C4E03AQGOrVA0bUkUjg/profile-displayphoto-shrink_400_400/0/1517612751304?e=1635379200&v=beta&t=0umi6rPJ3v_DObZkYlhxXQrGJTSKcvgTaTMnri0JXPg">
                    </a>
                    <div class="desc">
                        <h3><a href="https://erdp.labo.univ-poitiers.fr/membres/reye-francois/" target="_blanck">
                            M<sup>e</sup>. François Réyé
                        </a></h3>
                        <p>Avocat - Maître de conférences associés à l'Université de Poitier</br></br>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <a target="_blanck" class="icon">
                        <img style='height: 150px;width: auto;max-width: 150px;' src="https://media-exp1.licdn.com/dms/image/C5603AQGdgVQ4aLAcZQ/profile-displayphoto-shrink_400_400/0/1516255104844?e=1635379200&v=beta&t=OvnFwQGChaR_C9sKy_b3GYj8NXsliSr49ZfWKgvc0jc">
                    </a>
                    <div class="desc">
                        <h3><a target="_blanck">
                            M<sup>e</sup>. Taok Mireille
                        </a></h3>
                        <p>Docteur en droit - Avocate - Arbitre international</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <a target="_blanck" class="icon">
                        <img style='height: 150px;width: auto;max-width: 150px;' src="{% static 'assets/img/bannerpalette/yellow.png' %}">
                    </a>
                    <div class="desc">
                        <h3><a target="_blanck">
                            Tranoy Anne
                        </a></h3>
                        <p>Responsable du pôle orientation et
                            professionnalisation de la Faculté de Droit et de Sciences sociales de l'Université de Poitiers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}