{% extends "template_ref.html" %}
{% load static %}
{% block body %}
<!-- Masthead-->
<header class="top-pres" id="master">
</header>
<!-- Présentation-->
<section class="container-fluid mt-3 bg-light text-dark slidefromleft" id="presentation">
    <div class="row justify-content-center slidefromleft">
        <div class="col-lg-8 text-start ">
            <h3 class="mt-0 text-primary" >Présentation du Master</h3>
            <div class='row'>
                <p class="col-lg-12 text-dark fs-6 mb-4">
                    À l’issue du Master 1 Droit des affaires (tronc commun), ce parcours de Master forme 
                    des juristes de haut niveau spécialisés en droit des contrats et ses disciplines connexes (par 
                    exemple concurrence, distribution et consommation), sensibilisés aux influences européennes 
                    s’exerçant sur la discipline et aisément adaptables aux évolutions issues des sources internes, 
                    européennes et internationales.</br></br> 
                    Il confère une connaissance approfondie du droit des contrats en ses diverses branches, dans 
                    le contexte contemporain de réforme nationale et de l’harmonisation du droit international et 
                    européen des contrats. La formation, assurée par des universitaires et professionnels 
                    spécialistes de la technique contractuelle, permet d’acquérir une excellente maîtrise du droit 
                    positif, national, étranger, international et européen des contrats, destinant les diplômés à cette 
                    spécialisation dans l’exercice des professions d’avocat, magistrat, juriste en entreprise.
                    </br> 
                </p>
            </div>
        </div>
        <div class="col-lg-4 text-start">
            <h3 class="mx-2 mt-0 text-primary">Les plus...</h3>
            <ul class="text-dark px-0 fs-5 mb-4 text-start">
                <a class="" href="https://droit.univ-poitiers.fr/la-faculte/clinique-juridique"><li class="mb-4 fs-6">La clinique juridique sur candidature</li></a>
                <li class="my-3 fs-6">Conférences de Professeurs étrangers invités</li>
                <li class="my-3 fs-6">Possibilité de faire un stage à l’étranger</li>
                <li class="my-3 fs-6">Mobilité</li>
            </ul>
        </div>
    </div>
</section>
<!-- Programme-->
<section class="container-fluid bg-light text-dark slidefromleft" id="programme">
    <div class="row gx-4 gx-lg-5 justify-content-center slidefromleft">
        <h3 class="mt-0 text-primary">Le programme de la formation</h3>
        <div class="col-lg-6 mt-3">
            <p class="text-dark fs-6 mb-4">
                Le <span class="fw-bold text-primary">Master 1 </span>Droit des affaires, dit de tronc commun, offre un socle commun de connaissances 
                et de compétences partagées, requises de tout diplômé en droit des affaires. Le Master 2 
                approfondi les connaissances et compétences propres au parcours.
            </p>
            <ul class="text-dark pl-3 fs-6 text-start">
                <li>Droit bancaire</li>
                <li>Droit des sûretés</li>
                <li>Droit des procédures collectives</li>
                <li>Droit fiscal des affaires</li>
                <li>Droit international privé </li>
                <li>Droit patrimonial de l’entreprise </li>
                <li>Droit du commerce international</li>
                <li>Droit interne et européen de la concurrence</li>
                <li>Anglais</li>
                <li>Ressources numériques : initiation à la recherche </li>
                <li>Stage facultatif d’un mois</li>
            </ul>
        </div>
        <div class="col-lg-6 mt-3">
            <p class="text-dark fs-6">
                Le <span class="fw-bold text-primary">Master 2 </span>se concentre sur des disciplines relatives au droit des contrats. Certains 
                séminaires sont mutualisés avec les Master Droit de l’entreprise et des affaires-DJCE 
                et Droit notarial.
            </p>
            <ul class="text-dark px-3 fs-6 text-start">
                <li>Droit commun du contrat </li>
                <li>Droit spécial des contrats </li>
                <li>Droit européen du contrat : Droit de l’Union européenne</li>
                <li>Droit européen du contrat : Convention européenne des droits de l’homme</li>
                <li>Droit international privé des contrats</li>
                <li>Droit comparé des contrats </li>
                <li>Technique contractuelle (tronc commun)</br> Négociation contractuelle + Spécialisation 
                    (Contrats d’affaires OU Vente d’immeubles existants et prêts immobiliers OU 
                    Opérations sur fonds de commerce et baux commerciaux</li>
                <li>Modes alternatifs de règlement des litiges</li>
                <li>Droit de la concurrence et de la distribution</li>
                <li>Contrats de consommation</li>
                <li>Contrats de travail</li>
                <li>Formation à la recherche</li>
                <li>Préparation à l’insertion professionnelle</li>
                <li>Langues étrangères </li>
                <li>Projets collectifs</li>
            </ul>
        </div>
    </div>
</section>  
<header class="mid-pres" id="master">
</header>      
<!-- Services-->
<section class="container-fluid bg-primary text-light slidefromleft my-3" id="team">
    <h3 class="mt-0 pb-2 text-center text-light py-3">L'équipe pédagogique</h3>
    <!--Directeurs-->
    <div class="col-lg-12 row mx-0 justify-content-center">
        <div class="col-lg-5 mt-3 row px-0" id="card-peda">
            <div class="row px-1 mx-0 justify-content-center">
                <a class="col-lg-12 box-img-dir text-center" target="_blanck" href="https://erdp.labo.univ-poitiers.fr/membres/helene-boucard/">
                    <img class="img-dir col-lg-12" src="https://eventos.upo.es/_files/_event/_30651/_editorFiles/file/Photo_HB.jpg">
                </a>
                <p class="col-lg-12 mt-1 fs-5 text-center">Hélène Boucard</p>
                <p class="col-lg-12 mx-1 fs-6 text-center">
                    Codirectrice du Master Droit des affaires, Contrats en droit français et européen
                </p>
            </div>
        </div>
        <div class="col-lg-5 mt-3 row px-0" id="card-peda">
            <div class="row px-1 mx-0 justify-content-center">
                <a class="col-lg-12 box-img-dir text-center" target="_blanck" href="https://erdp.labo.univ-poitiers.fr/membres/lionel-andreu/">
                    <img class="img-dir col-lg-12" src="https://erdp.labo.univ-poitiers.fr/wp-content/uploads/sites/183/2019/10/xLionel-ANDREU-150x150.jpg.pagespeed.ic.hgTtYKiqHp.webp">
                </a>
                <p class="col-lg-12 mt-1 fs-5 text-center">Lionel Andreu</p>
                <p class="col-lg-12 mx-1 fs-6 text-center">
                    Codirecteur du Master Droit des affaires, Contrats en droit français et européen
                </p>
            </div>
        </div>
    </div>
    <!--Equipe-->
    <div class="col-lg-12 row mt-3 justify-content-center mx-0">
        <div class="col-lg-4 row justify-content-center px-1 mx-0" id="card-peda">
            <div class="row justify-content-center px-0">
                <a class="col-lg-12 box-img-dir text-center" href="https://erdp.labo.univ-poitiers.fr/membres/nicolas-aymeric/" target="_blanck">
                    <img class="img-dir col-lg-12" src="{% static 'assets/img/bannerpalette/blue.png' %}">
                </a>
                <p class="col-lg-12 mt-1 px-0  fs-5 text-center">Aymeric Nicolas</p>
                <p class="col-lg-12 px-1 fs-6 text-center">
                    Professeur
                </p>
            </div>
        </div>
        <div class="col-lg-4 row justify-content-center px-1 mx-0" id="card-peda">
            <div class="row justify-content-center">
                <a class="col-lg-12 box-img-dir text-center" href="https://erdp.labo.univ-poitiers.fr/membres/michel-boudot/" target="_blanck">
                    <img class="img-dir col-lg-12" src="https://erdp.labo.univ-poitiers.fr/wp-content/uploads/sites/183/2019/10/xBoudot-Michel.jpg.pagespeed.ic.s9n5UAXtKe.webp">
                </a>
                <p class="col-lg-12 mt-1 px-0  fs-5 text-center">Boudot Michel</p>
                <p class="col-lg-12 px-1 fs-6 text-center">
                    Professeur
                </p>
            </div>
        </div>
        <div class="col-lg-4 row justify-content-center px-1 mx-0" id="card-peda">
            <div class="row justify-content-center">
                <a class="col-lg-12 box-img-dir text-center" target="_blanck" href="https://erdp.labo.univ-poitiers.fr/membres/Vincent-bonnin/">
                    <img class="img-dir col-lg-12" src="https://erdp.labo.univ-poitiers.fr/wp-content/uploads/sites/183/2019/10/xBONNIN-Vincent.jpg.pagespeed.ic.sRDyXxIzt2.webp">
                </a>
                <p class="col-lg-12 mt-1 px-0  fs-5 text-center">Bonnin Vincent</p>
                <p class="col-lg-12 px-1 fs-6 text-center">
                    Maître de conférences
                </p>
            </div>
        </div>
        <div class="col-lg-4 row justify-content-center px-1 mx-0" id="card-peda">
            <div class="row justify-content-center px-0">
                <a class="col-lg-12 box-img-dir text-center" target="_blanck" href="https://erdp.labo.univ-poitiers.fr/membres/etienne-casimir/">
                    <img class="img-dir col-lg-12" src="https://erdp.labo.univ-poitiers.fr/wp-content/uploads/sites/183/2019/10/xEtienne-CASIMIR.jpg.pagespeed.ic.NIuyLVpr8K.webp">
                </a>
                <p class="col-lg-12 mt-1 px-0  fs-5 text-center">Casimir Etienne</p>
                <p class="col-lg-12 px-1 fs-6 text-center">
                    Professeur
                </p>
            </div>
        </div>
        <div class="col-lg-4 row justify-content-center px-1 mx-0" id="card-peda">
            <div class="row justify-content-center px-0">
                <a class="col-lg-12 box-img-dir text-center" target="_blanck" href="https://erdp.labo.univ-poitiers.fr/membres/valerio-forti/">
                    <img class="img-dir col-lg-12" src="https://erdp.labo.univ-poitiers.fr/wp-content/uploads/sites/183/2019/10/xV.-Forti-Photo-scaled.jpg.pagespeed.ic.pK2hoXBlN5.webp">
                </a>
                <p class="col-lg-12 mt-1 px-0  fs-5 text-center">Forti Valerio</p>
                <p class="col-lg-12 px-1 fs-6 text-center">
                    Maître de conférences
                </p>
            </div>
        </div>
        <div class="col-lg-4 row justify-content-center px-1 mx-0" id="card-peda">
            <div class="row justify-content-center px-0">
                <a class="col-lg-12 box-img-dir text-center" target="_blanck" href="https://erdp.labo.univ-poitiers.fr/membres/eddy-lamazerolles/">
                    <img class="img-dir col-lg-12" src="https://erdp.labo.univ-poitiers.fr/wp-content/uploads/sites/183/2019/10/xLAMAZEROLLES-Eddy.jpg.pagespeed.ic.-aNGdPi9Dj.webp">
                </a>
                <p class="col-lg-12 mt-1 px-0  fs-5 text-center">Lamazerolles Eddy</p>
                <p class="col-lg-12 px-1 fs-6 text-center">
                    Professeur
                </p>
            </div>
        </div>
        <div class="col-lg-4 row justify-content-center px-1 mx-0" id="card-peda">
            <div class="row justify-content-center">
                <div class="col-lg-12 box-img-dir text-center">
                    <img class="img-dir col-lg-12" src="{% static 'assets/img/bannerpalette/green.png' %}">
                </div> 
                <p class="col-lg-12 fs-5 text-center">Le Bert Mickael</p>
                <p class="col-lg-12 mt-1 px-1 fs-6 text-center">
                    Intervenant pour l'anglais
                </p>
            </div>
        </div>
        <div class="col-lg-4 row justify-content-center px-1 mx-0" id="card-peda">
            <div class="row justify-content-center">
                <div class="col-lg-12 box-img-dir text-center">
                    <img class="img-dir col-lg-12" src="https://media-exp1.licdn.com/dms/image/C4D03AQGjIhw_gotiZA/profile-displayphoto-shrink_400_400/0/1516973608976?e=1635379200&v=beta&t=-2BBP0o_z0oSlPNpD4gnTAm0SFQSHl0WWhVNEo40suo">
                </div>
                <p class="col-lg-12 mt-1 px-0  fs-5 text-center">Lérignier Rémy</p>
                <p class="col-lg-12 px-1 fs-6 text-center">
                    Chargé de la documentation juridique informatisée
                </p>
            </div>
        </div>
        <div class="col-lg-4 row justify-content-center px-0 mx-0" id="card-peda">
            <div class="row px-0 justify-content-center">
                <a class="col-lg-12 px-0 box-img-dir text-center" target="_blanck" href="https://erdp.labo.univ-poitiers.fr/membres/jean-philippe-lhernould/">
                    <img class="img-dir col-lg-12" src="https://media-exp1.licdn.com/dms/image/C4D03AQE-_n7ybPLzQQ/profile-displayphoto-shrink_400_400/0/1516576241993?e=1635379200&v=beta&t=loGfcEvrXqrX_xAtF8SpzB48MO3Lm4H0SMtCPgyEs4U">
                </a>
                <p class="col-lg-12 mt-1 px-0 fs-5 text-center">Lhernould Jean-Philippe</p>
                <p class="col-lg-12 px-0 fs-6 text-center">
                    Professeur
                </p>
            </div>
        </div>

        <div class="col-lg-4 row justify-content-center px-1 mx-0" id="card-peda">
            <div class="row justify-content-center">
                <a class="col-lg-12 box-img-dir text-center" target="_blanck" href="https://erdp.labo.univ-poitiers.fr/membres/fabien-marchadier/">
                    <img class="img-dir col-lg-12" src="https://erdp.labo.univ-poitiers.fr/wp-content/uploads/sites/183/2019/10/xFabien-MARCHADIER-150x150.jpg.pagespeed.ic.wwZlHT6Ekm.webp">
                </a>
                <p class="col-lg-12 mt-1 px-0  fs-5 text-center">Marchadier Fabien</p>
                <p class="col-lg-12 px-1 fs-6 text-center">
                    Professeur
                </p>
            </div>
        </div>
        <div class="col-lg-4 row justify-content-center px-1 mx-0" id="card-peda">
            <div class="row justify-content-center">
                <a class="col-lg-12 box-img-dir text-center" target="_blanck" href="https://univ-droit.fr/universitaires/11001-pellier-jean-denis">
                    <img class="img-dir col-lg-12" src="https://media-exp1.licdn.com/dms/image/C5603AQFYVbtjw4tlqg/profile-displayphoto-shrink_400_400/0/1526230273347?e=1635379200&v=beta&t=_iRJcuB7j9EE_WEx5ZgCc3mHi7rqkBmb10LkfJosl6U">
                </a>
                <p class="col-lg-12 mt-1 px-0  fs-5 text-center">Pellier Jean-Denis</p>
                <p class="col-lg-12 px-1 fs-6 text-center">
                    Professeur
                </p>
            </div>
        </div>
        <div class="col-lg-4 row justify-content-center px-1 mx-0" id="card-peda">
            <div class="row justify-content-center">
                <a class="col-lg-12 px-0  box-img-dir text-center" href="https://erdp.labo.univ-poitiers.fr/membres/reye-francois/">
                    <img class="img-dir col-lg-12" src="https://media-exp1.licdn.com/dms/image/C4E03AQGOrVA0bUkUjg/profile-displayphoto-shrink_400_400/0/1517612751304?e=1635379200&v=beta&t=0umi6rPJ3v_DObZkYlhxXQrGJTSKcvgTaTMnri0JXPg">
                </a>
                <p class="col-lg-12 mt-1 fs-5 text-center">Réyé François</p>
                <p class="col-lg-12 px-1 fs-6 text-center">
                    Avocat
                </p>
            </div>
        </div>
        <div class="col-lg-4 row justify-content-center px-1 mx-0" id="card-peda">
            <div class="row justify-content-center">
                <div class="col-lg-12 px-0 box-img-dir text-center">
                    <img class="img-dir col-lg-12" src="https://media-exp1.licdn.com/dms/image/C5603AQGdgVQ4aLAcZQ/profile-displayphoto-shrink_400_400/0/1516255104844?e=1635379200&v=beta&t=OvnFwQGChaR_C9sKy_b3GYj8NXsliSr49ZfWKgvc0jc">
                </div>
                <p class="col-lg-12 fs-5 text-center">Taok Mireille</p>
                <p class="col-lg-12 mt-1 px-1 fs-6 text-center">
                    Avocate, Arbitre international
                </p>
            </div>
        </div>
        <div class="col-lg-4 row justify-content-center px-1 mx-0" id="card-peda">
            <div class="row justify-content-center">
                <div class="col-lg-12 box-img-dir text-center">
                    <img class="img-dir col-lg-12" src="{% static 'assets/img/bannerpalette/yellow.png' %}">
                </div>
                <p class="col-lg-12 fs-5 text-center">Tranoy Anne</p>
                <p class="col-lg-12 mt-1 px-0 fs-6 text-center">
                    Responsable pôle orientation professionnalisation
                </p>
            </div>
        </div>
    </div>
</section>
<header class="end-pres" id="master">
</header> 
<section class="container-fluid px-0 bg-light slidefromleft">
    <div class="bg-light row justify-content-center slidefromleft py-3">
        <div class="text-dark fs-6 px-3 pt-3" id="director-word">
            <h3 class="mt-0 pb-2 text-primary">Le mot des directeurs</h3>
            &#171; Le Master <i>Contrats en droit français et européen</i> a une longue histoire. Il prend ses racines 
            dans un DES (diplôme d’études supérieures) <i>Droit privé</i> créé à la fin du XIXe siècle, avant de 
            devenir, dans les années 1970, un DEA (diplôme d’études approfondies), et en 2005 un Master 
            <i>Droit privé fondamental</i>. Il a été dirigé notamment par les professeurs Philippe Remy et Jean 
            Beauchard, puis par le professeur Éric Savaux de 2010 à 2020. Depuis 2010, le Master se 
            concentre sur l’étude des <i>Contrats en droit français et européen</i> et, depuis 2012, il est attaché 
            à la mention <i>Droit des affaires</i> de la Faculté. Nous en assumons la direction depuis 2020, avec 
            l’espoir d’être à la hauteur de nos illustres prédécesseurs. </br>
            </br>
            Le Master <i>Contrats en droit français et européen</i> jouit d’une solide réputation dans les milieux 
            universitaires et professionnels. Il attire des étudiants particulièrement intéressés par ce qui 
            constitue le cœur de l’activité économique : le contrat, dans toute sa diversité, et qui ont une 
            affinité particulière avec la dimension européenne et internationale des contrats et des affaires. </br>
            </br>
            Cette ouverture sur le monde est la marque de fabrique du Master <i>Contrats en droit français et 
            européen</i>. Elle témoigne de l’internationalisation des échanges et permet une meilleure 
            compréhension du droit français, envisagé à la lumière du droit comparé, conformément à l’idée 
            selon laquelle, si <i>« Celui qui ne sait aucune langue étrangère ne sait pas sa propre langue »</i> (J. 
            W. von Goethe, <i>Maximes et réflexions</i>, Paris-Leipzig, Brockhaus et Avenarius libraires, trad. 
            S. Sklower, 1842, p. 35), celui qui ne sait aucun droit étranger ne sait pas son propre droit. &#187;
        </div>
        <div class="text-end text-dark fs-6 px-3 pb-3" id="director-word"> 
            </br>Hélène Boucard et Lionel Andreu</br>
            Professeurs de droit privé et sciences criminelles à l’Université de Poitiers </br>
            Codirecteurs du Master Droit des affaires, Contrats en droit français et européen</br>
        </div>
    </div>
</section>
<!-- LOCALISATION -->
<section class="bg-purple text-dark slidefromleft row px-0" id="geo">
    <div class="row justify-content-center py-3 mx-1">
        <div class="col-lg-4 contact-left">
            <strong><p class="mt-3 fs-5 text-start text-light">Université & Bibliothèque Universitaire</p></strong>
            <div class="">
                <p class="mt-3 fs-6 text-start text-light">43 Place Charles de Gaulle</br>86000 Poitiers</p>
                <p class="mt-3 fs-6 text-start text-light">05 49 45 30 00</p>
                <p class="mt-3 fs-6 text-start text-light">droit.univ-poitiers.fr</p>
            </div>
        </div>
        <div class='row col-lg-4 align-items-center'>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d815.2593161194155!2d0.34307280773295806!3d46.58339131276631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fdbe71d22ee7b5%3A0x810749027c31b19a!2sFacult%C3%A9%20de%20Droit%20-%20Universit%C3%A9%20de%20Poitiers!5e0!3m2!1sfr!2sfr!4v1627574911130!5m2!1sfr!2sfr"
                width="80%"
                height="100%"
                style="border:0;"
                allowfullscreen=""
                loading="lazy">
            </iframe>
        </div>
        <div class="col-lg-4 contact-right">
            <strong>
                <p class="mt-3 fs-5 text-end text-light">
                    Association 
                    Master Contrats en droit
                    français et européen
                </p>
            </strong>
            <div class="">
                <p class="mt-3 fs-6 text-end text-light">43 Place Charles de Gaulle</br>86000 Poitiers</p>
                <p class="mt-3 fs-6 text-end text-light">M2ContratsPoitiers@gmail.com</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}